<div class="timer-view">
  <mat-card>
    <mat-card-title fxLayout fxLayoutAlign="center center">
      <h4><small>Exercise:</small> <strong> {{displayExercise | capitalize}}</strong></h4>
    </mat-card-title>
    <mat-card-content fxLayout fxLayoutAlign="center center">
      <span class="countdown">
        {{displayCountdown | secondsMinutes}}
      </span>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <button (click)="startTraining()" mat-raised-button color="accent">Start</button>
      <button (click)="pauseTraining($event)" mat-raised-button color="primary">Paus</button>
      <button (click)="resumeTraining($event)" mat-raised-button color="primary">Resume</button>
      <button (click)="stopTraining($event)" mat-raised-button color="warn">Stop</button>
    </mat-card-actions>
    <mat-card-title fxLayout fxLayoutAlign="center center">
      <h4><small>Next Exercise:</small> <strong>{{nextExercise | capitalize}}</strong></h4>
    </mat-card-title>
  </mat-card>
</div>